<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.backend.mapper.ApprovalMapper">
  <resultMap id="approvalResultMap" type="com.erp.backend.dto.ApprovalDto">
    <id property="approvalId" column="approval_id" />
    <id property="typeId" column="type_id" />
    <result property="startDate" column="start_date" />
    <result property="endDate" column="end_date" />
    <result property="title" column="title" />
    <result property="content" column="content" />
    <result property="applicantId" column="applicant_id" />
    <result property="approverId" column="approver_id" />
    <result property="statusId" column="status_id" />
    <result property="calendarId" column="calendar_id" />
    <result property="typeName" column="type_name" />
    <result property="statusName" column="status_name" />

    <!-- 신청자 (Applicant) -->
    <association property="applicant" javaType="com.erp.backend.dto.MemberDto">
      <id property="empId" column="applicant_id" />
      <result property="name" column="applicant_name" />
    </association>

    <!-- 승인자 (Approver) -->
    <association property="approver" javaType="com.erp.backend.dto.MemberDto">
      <id property="empId" column="approver_id" />
      <result property="name" column="approver_name" />
    </association>
  </resultMap>

  <resultMap id="calendarResultMap" type="com.erp.backend.dto.CalendarDto">
    <id property="calendarId" column="calendar_id"/>
    <result property="title" column="title"/>
    <result property="startDate" column="start_date"/>
    <result property="endDate" column="end_date"/>
</resultMap>

  <!-- 결재 신청 목록 : 신청자 -->
  <select id="getApplicant" resultMap="approvalResultMap">
    SELECT
    a.approval_id, a.type_id, a.title, a.content, a.start_date, a.end_date, 
    a.applicant_id, a.approver_id, a.status_id, a.calendar_id, 
    app.emp_id AS applicant_id, app.name AS applicant_name, 
    apr.emp_id AS approver_id, apr.name AS approver_name, 
    t.type_name, s.status_name
    FROM approval a
    JOIN employee app ON a.applicant_id = app.emp_id  
    LEFT JOIN employee apr ON a.approver_id = apr.emp_id  
    JOIN approval_type t ON a.type_id = t.type_id
    JOIN approval_status s ON a.status_id = s.status_id
    WHERE a.applicant_id = #{applicantId}
    ORDER BY a.approval_id DESC
  </select>

  <!-- 결재 확인 목록 : 승인자 -->
  <select id="getApprover" resultMap="approvalResultMap">
    SELECT
    a.approval_id, a.type_id, a.title, a.content, a.start_date, a.end_date, 
    a.applicant_id, a.approver_id, a.status_id, a.calendar_id, 
    app.emp_id AS applicant_id, app.name AS applicant_name, 
    apr.emp_id AS approver_id, apr.name AS approver_name, 
    t.type_name, s.status_name
    FROM approval a
    JOIN employee app ON a.applicant_id = app.emp_id  
    LEFT JOIN employee apr ON a.approver_id = apr.emp_id  
    JOIN approval_type t ON a.type_id = t.type_id
    JOIN approval_status s ON a.status_id = s.status_id
    WHERE a.approver_id = #{approverId}
    ORDER BY a.approval_id DESC
  </select>

  <!-- 결재 상태(대기, 반려, 승인) 목록 -->
  <select id="getApprovedList" resultMap="approvalResultMap">
    SELECT
    a.approval_id, a.type_id, a.title, a.content, a.start_date, a.end_date, 
    a.applicant_id, a.approver_id, a.status_id, a.calendar_id, 
    app.emp_id AS applicant_id, app.name AS applicant_name, 
    apr.emp_id AS approver_id, apr.name AS approver_name, 
    t.type_name, s.status_name
    FROM approval a
    JOIN employee app ON a.applicant_id = app.emp_id  
    LEFT JOIN employee apr ON a.approver_id = apr.emp_id  
    JOIN approval_type t ON a.type_id = t.type_id
    JOIN approval_status s ON a.status_id = s.status_id
    WHERE a.status_id = #{statusId}
    ORDER BY a.approval_id desc
  </select>

  <!-- 결재 상세 조회 -->
  <select id="readApproval" resultMap="approvalResultMap">
    SELECT
    a.approval_id, a.type_id, a.title, a.content, a.start_date, a.end_date, 
    a.applicant_id, a.approver_id, a.status_id, a.calendar_id, 
    app.emp_id AS applicant_id, app.name AS applicant_name, 
    apr.emp_id AS approver_id, apr.name AS approver_name, 
    t.type_name, s.status_name
    FROM approval a
    JOIN employee app ON a.applicant_id = app.emp_id  
    LEFT JOIN employee apr ON a.approver_id = apr.emp_id  
    JOIN approval_type t ON a.type_id = t.type_id
    JOIN approval_status s ON a.status_id = s.status_id
    WHERE a.approval_id = #{approvalId}
  </select>

  <!-- 결재 등록 : 신청자 -->
  <insert id="addApproval" parameterType="com.erp.backend.dto.ApprovalDto">
    INSERT INTO approval(type_id, start_date, end_date, title, content, applicant_id, approver_id)
    VALUES (#{typeId}, #{startDate}, #{endDate}, #{title}, #{content}, #{applicantId}, #{approverId})
  </insert>

  <!-- 결재 상태 수정 : 승인자 -->
  <update id="updateStatus" parameterType="com.erp.backend.dto.ApprovalDto">
    UPDATE approval
    SET status_id = #{statusId}
    WHERE approval_id = #{approvalId}
  </update>
  <!-- status_id가 2인 경우에만 calendar 테이블에 추가 -->
  <insert id="insertCalendarFromApproval" parameterType="com.erp.backend.dto.ApprovalDto">
    INSERT INTO calendar (title, start_date, end_date, applicant_id, approval_id)
    SELECT title, start_date, end_date, applicant_id, approval_id
    FROM approval
    WHERE approval_id = #{approvalId}
</insert>

  <!-- 별도로 calendar 정보만 조회 -->
  <select id="getCalendarByApprovalId" resultMap="calendarResultMap">
      SELECT c.*
      FROM calendar c
      WHERE c.approval_id = #{approvalId}
  </select>

  <!-- 결재 삭제 : 신청자 -->
  <delete id = "deleteApproval" parameterType="Integer" >
    DELETE FROM approval
    WHERE approval_id = #{approvalId}
  </delete>
</mapper>