<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.backend.mapper.CalendarMapper">

  <!-- 결재 신청 목록 -->
  <select id="getAllCalendars" resultMap="calendarResultMap">
    SELECT
    a.approval_id, a.type_id, a.start_date, a.end_date, a.title, a.content, a.applicant_id, a.approver_id, a.status
    e.emp_id, e.name, e.dept
    FROM approval a
    JOIN employee e ON c.applicant_id = e.emp_id
  </select>
  <!-- 결재 확인 목록 -->
  <select id="getMyCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    WHERE c.applicant_id = #{applicantId}
  </select>
  <!-- 결재 상세 조회 -->
  <select id="readCalendar" resultMap="calendarResultMap">
    SELECT c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id
    FROM calendar c
    LEFT JOIN employee e ON c.applicant_id = e.emp_id
    WHERE c.calendar_id = #{calendarId}
  </select>
  <!-- 결재 등록 -->
  <insert id="addCalendar" parameterType="com.erp.backend.dto.CalendarDto">
    INSERT INTO calendar(start_date, end_date, title, content, applicant_id)
    VALUES (#{startDate}, #{endDate}, #{title}, #{content}, #{applicantId})
  </insert>
  <!-- 결재 수정 -->
  <update id = "updateCalendar" parameterType="com.erp.backend.dto.CalendarDto">
    UPDATE calendar
    SET start_date = #{startDate}, 
      end_date = #{endDate}, 
      title = #{title}, 
      content = #{content}
    WHERE calendar_id = #{calendarId}
  </update>
  <!-- 결재 삭제 -->
  <delete id = "deleteCalendar" parameterType="Integer" >
    DELETE FROM calendar
    WHERE calendar_id = #{calendarId}
  </delete>
</mapper>