<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.backend.mapper.CalendarMapper">  
  <select id="getAllCalendars" resultType="com.erp.backend.dto.CalendarDto">
    SELECT calendar_id, start_date, end_date, title, content, applicant_id FROM calendar;
  </select>
  <insert id="addCalendar" parameterType="com.erp.backend.dto.CalendarDto">
    INSERT INTO calendar(start_date, end_date, title, content, applicant_id)
    VALUES #{start_date}, #{end_date}, #{title}, #{content}, #{applicant_id}
  </insert>
</mapper>