<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.backend.mapper.CalendarMapper">
  <resultMap id="calendarResultMap" type="com.erp.backend.dto.CalendarDto">
    <id property="calendarId" column="calendar_id" />
    <result property="startDate" column="start_date" />
    <result property="endDate" column="end_date" />
    <result property="title" column="title" />
    <result property="content" column="content" />
    <result property="applicantId" column="applicant_id" />

    <association property="memberDto" javaType="com.erp.backend.dto.MemberDto">
      <id property="empId" column="emp_id" />
      <result property="name" column="name" />
      <result property="dept" column="dept" />
    </association>
  </resultMap>

  <!-- 사원 전체 일정 목록 -->
  <select id="getAllCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    ORDER BY c.calendar_id DESC
  </select>
  <!-- 개인 일정 목록 -->
  <select id="getMyCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    WHERE c.applicant_id = #{applicantId}
  </select>
  <!-- 부서 일정 목록 -->
  <select id="getDeptCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    WHERE e.dept = #{dept}
  </select>
  <!-- 오늘 일정 목록 -->
  <select id="getTodayCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    WHERE CURDATE() BETWEEN c.start_date AND c.end_date
  </select>
  <!-- 오늘 일정 목록(개인) -->
  <select id="getMyTodayCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    WHERE CURDATE() BETWEEN c.start_date AND c.end_date
          AND c.applicant_id = #{applicantId}
  </select>
  <!-- 오늘 일정 목록(부서) -->
  <select id="getDeptTodayCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    WHERE CURDATE() BETWEEN c.start_date AND c.end_date
          AND e.dept = #{dept}
  </select>
  
  
  <!-- 특정 날짜 일정 목록 (수정해야됨)-->
  <select id="getSelectedDayCalendars" resultMap="calendarResultMap">
    SELECT
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    JOIN employee e ON c.applicant_id = e.emp_id
    WHERE CURDATE() BETWEEN c.start_date AND c.end_date
  </select>


  <!-- 일정 상세 조회 -->
  <select id="readCalendar" resultMap="calendarResultMap">
    SELECT 
    c.calendar_id, c.start_date, c.end_date, c.title, c.content, c.applicant_id,
    e.emp_id, e.name, e.dept
    FROM calendar c
    LEFT JOIN employee e ON c.applicant_id = e.emp_id
    WHERE c.calendar_id = #{calendarId}
  </select>
  <!-- 일정 등록 -->
  <insert id="addCalendar" parameterType="com.erp.backend.dto.CalendarDto">
    INSERT INTO calendar(start_date, end_date, title, content, applicant_id)
    VALUES (#{startDate}, #{endDate}, #{title}, #{content}, #{applicantId})
  </insert>
  <!-- 일정 수정 -->
  <update id = "updateCalendar" parameterType="com.erp.backend.dto.CalendarDto">
    UPDATE calendar
    SET start_date = #{startDate}, 
      end_date = #{endDate}, 
      title = #{title}, 
      content = #{content}
    WHERE calendar_id = #{calendarId}
  </update>
  <!-- 일정 삭제 -->
  <delete id = "deleteCalendar" parameterType="Integer" >
    DELETE FROM calendar
    WHERE calendar_id = #{calendarId}
  </delete>
</mapper>